<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Translation Projects</h1>
  </div>
  <div class="panel-body">
    <p>This is where you define translation projects.<br>A translation project is a coherent set of translations, with a deadline.<br>A project is composed of one or several resources, that you will be able to add once you have created the project.</p>
    <p>Projects are sent to translators once they're approved. Once approved, a project may no longer be changed. This is by design, you need to know what you want.</p>
    {{#link-to 'projects.new' classNames='btn btn-primary'}}Add New Project{{/link-to}}
  </div>
</div>